* {box-sizing: border-box;}
ul {list-style-type: none;}
html {height: 100%;}
body {font-family: Verdana, sans-serif;height: 100%;}

td.calender {
  width: 29px;
  text-align: center;
  border: 1px solid #000;
}

td.num {
  background-color: #eee;
  border: 1px solid #000;
  text-align: center;
  transition: 0.2s;
}
td.num:hover {
  background-color: #bbb;
}
td.today {
  background-color: #f2afb9;
  border: 1px solid #000;
  text-align: center;
  transition: 0.2s;
}


#navbar {
  position: fixed;
  background-color: #e3d7d7;
  height: 50px;
}
.inbar {
  font-size: 20pt;
  height: 50px;
  transition: 0.2s;
  text-decoration: none;
  padding: 5px;
  color: #000;
}
.inbar:hover {
  background-color: #f2afb9;
  text-decoration: none;
  color: #000;
}

iframe {
  display: block;
  margin: 0px auto;
  width: 203px;
  overflow: hidden;
  height: 220px;
  border: none;
  
}